# Vendor dependency directory 
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
!**/cmd/*/*.go
**/cmd/bin/*

tmp
tmp/*
_testMeta.json

# Test binary, built with `go test -c`
*.test

samples/*.json
relatedDict.json
similarsResp.json

# Logs 
*.log

# Local environment variables
.env
