# Vendor dependency directory 
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
!**/cmd/*/*.go
**/cmd/bin/*

tmp
tmp/*

# Test binary, built with `go test -c`
*.test

# Logs 
*.log

# Local environment variables
.env
